
.SubListComponent__container{
    display: flex;
    width: 80vw;
    background: #e3e3e3;
    justify-content: space-between;
    padding:10px;
    border-radius: 15px;
    align-items: center;
    margin: 5px;
}
.SubListComponent__img{
    img{
        height:80px;
        width:55px;
        object-fit: contain;
        margin-left: 25px;
    }
}

.view__btn{
    background-color: rgb(0, 204, 255);
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:15px;
}
.SubListComponent__View{
    margin: 15px;
    display: grid;
    place-items: center;
}