.sign-in-page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-color: rgb(242, 245, 247);

}

.brand{
    width: 75%;
}

.brand-name{
    text-align: left;
}


.sign-in-form-container{

    width: 100%;
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    padding: 1rem;



}


.sign-in-form-container-inputs{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;

    width: 75%;
}

.sign-in-form-container-text{

    width: 75%;

    text-align: left;

    margin-bottom: 3rem;

    & h1{
        font-size: 4rem;
        padding: 0.5rem 0;
    }

    & h3{
        padding: 0.5rem 0;
    }
}



.sign-in-image-container{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // background-image: url('https://www.getfoundquick.com/wp-content/uploads/2018/03/shutterstock_374648065.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.sign-in-image{
    height: 100%;
    width: 100%;
}