.magazine-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.magazine-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
